<footer class="footer flex justify-center align-center">
    <img class="decoration" src="../../../assets/img/footer-decoration.png">
    <div class="content container">
        <div class="box flex flex-row">
            <div class="paragraph-wrapper">
                <p>انضم إلى قائمة البريد لتصلك آخر المستجدت</p>
            </div>
            <div class="form-wrapper">
                <form>
                    <input
                        class="h-16 bg-gray-100 text-grey-darker py-2 font-normal text-grey-darkest border border-gray-100 font-bold w-full py-1 px-2 outline-none text-lg text-gray-600"
                        type="text" placeholder="What do you want to learn?">
                    <span
                        class="flex items-center bg-gray-100 rounded rounded-l-none border-0 px-3 font-bold text-grey-100">
                        <button
                            class="bg-gredient-dark hover:bg-gredient-light text-lg text-white font-bold py-3 px-6 rounded">Search</button>
                    </span>


                </form>
            </div>
        </div>
    </div>
</footer>